<?xml version="1.0"?>
<!--
/**
 * Copyright 2018 Klarna Bank AB (publ)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * @category   Klarna
 * @package    Klarna_KcoAltAddress
 * @author     Fei Chen <fei.chen@klarna.com>
 */
-->
<config>
    <modules>
        <Klarna_KcoAltAddress>
            <version>1.0.0</version>
        </Klarna_KcoAltAddress>
    </modules>
    <global>
        <models>
            <klarna_altaddress>
                <class>Klarna_KcoAltAddress_Model</class>
            </klarna_altaddress>
        </models>
        <helpers>
            <klarna_altaddress>
                <class>Klarna_KcoAltAddress_Helper</class>
            </klarna_altaddress>
        </helpers>
    </global>
    <klarna>
        <attachment>
            <kasper>
                <other_shipping_address>
                    <class>klarna_altaddress/checkout_attachment_othershippingaddress</class>
                </other_shipping_address>
            </kasper>
            <kred>
                <other_shipping_address>
                    <class>klarna_altaddress/checkout_attachment_othershippingaddress</class>
                </other_shipping_address>
            </kred>
        </attachment>
    </klarna>
</config>