<?xml version="1.0"?>
<!--
/**
 * This file is part of the Klarna KCO AltAddress module
 *
 * (c) Klarna Bank AB (publ)
 *
 * For the full copyright and license information, please view the NOTICE
 * and LICENSE files that were distributed with this source code.
 */
-->
<config>
    <modules>
        <Klarna_KcoAltAddress>
            <version>1.0.1</version>
        </Klarna_KcoAltAddress>
    </modules>
    <global>
        <models>
            <klarna_altaddress>
                <class>Klarna_KcoAltAddress_Model</class>
            </klarna_altaddress>
        </models>
        <helpers>
            <klarna_altaddress>
                <class>Klarna_KcoAltAddress_Helper</class>
            </klarna_altaddress>
        </helpers>
    </global>
    <klarna>
        <attachment>
            <kasper>
                <other_shipping_address>
                    <class>klarna_altaddress/checkout_attachment_othershippingaddress</class>
                </other_shipping_address>
            </kasper>
            <kred>
                <other_shipping_address>
                    <class>klarna_altaddress/checkout_attachment_othershippingaddress</class>
                </other_shipping_address>
            </kred>
        </attachment>
    </klarna>
</config>