<?xml version="1.0"?>
<!--
/**
 * This file is part of the Klarna KCO AltAddress module
 *
 * (c) Klarna Bank AB (publ)
 *
 * For the full copyright and license information, please view the NOTICE
 * and LICENSE files that were distributed with this source code.
 */
-->
<config>
    <sections>
        <checkout>
            <groups>
                <klarna_kco>
                    <fields>
                        <other_delivery_address_enabled translate="label">
                            <label>Other Delivery Address Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>106</sort_order>
                        </other_delivery_address_enabled>
                        <other_delivery_address_first_name translate="label comment">
                            <label>Other Delivery Address First Name</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>107</sort_order>
                            <depends>
                                <other_delivery_address_enabled>1</other_delivery_address_enabled>
                            </depends>
                        </other_delivery_address_first_name>
                        <other_delivery_address_last_name translate="label comment">
                            <label>Other Delivery Address Last Name</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>108</sort_order>
                            <depends>
                                <other_delivery_address_enabled>1</other_delivery_address_enabled>
                            </depends>
                        </other_delivery_address_last_name>
                        <other_delivery_address_street_address translate="label comment">
                            <label>Other Delivery Address Street Address</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>109</sort_order>
                            <depends>
                                <other_delivery_address_enabled>1</other_delivery_address_enabled>
                            </depends>
                        </other_delivery_address_street_address>
                        <other_delivery_address_street_number translate="label comment">
                            <label>Other Delivery Address Street Number</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>110</sort_order>
                            <depends>
                                <other_delivery_address_enabled>1</other_delivery_address_enabled>
                            </depends>
                        </other_delivery_address_street_number>
                        <other_delivery_address_postcode translate="label comment">
                            <label>Other Delivery Address Post Code</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>111</sort_order>
                            <depends>
                                <other_delivery_address_enabled>1</other_delivery_address_enabled>
                            </depends>
                        </other_delivery_address_postcode>
                        <other_delivery_address_city translate="label comment">
                            <label>Other Delivery Address City</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>112</sort_order>
                            <depends>
                                <other_delivery_address_enabled>1</other_delivery_address_enabled>
                            </depends>
                        </other_delivery_address_city>
                        <other_delivery_address_country translate="label comment">
                            <label>Other Delivery Address Country</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>113</sort_order>
                            <depends>
                                <other_delivery_address_enabled>1</other_delivery_address_enabled>
                            </depends>
                        </other_delivery_address_country>
                        <other_delivery_address_shipping_method translate="label comment">
                            <label>Other Delivery Address Shipping Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>klarna_altaddress/system_config_source_shipping_method</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>114</sort_order>
                            <depends>
                                <other_delivery_address_enabled>1</other_delivery_address_enabled>
                            </depends>
                        </other_delivery_address_shipping_method>
                        <other_delivery_address_shipping_type translate="label comment">
                            <label>Other Delivery Address Shipping Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>klarna_altaddress/system_config_source_shipping_type</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>115</sort_order>
                            <depends>
                                <other_delivery_address_enabled>1</other_delivery_address_enabled>
                            </depends>
                        </other_delivery_address_shipping_type>
                    </fields>
                </klarna_kco>
            </groups>
        </checkout>
    </sections>
</config>
